.image-container {
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #37ab98; /* Cor de fundo inicial */
    transition: transform 0.5s ease-in-out, background-color 0.3s ease;
}

.hidden {
    width: 0;
}

.image-container-active {
    transform: translateX(-100%); /* Move o contêiner para a esquerda */
    /* background-color: #fff!important; */
}

.image-container img {
    transition: opacity 1s ease-in-out; /* Transição para a opacidade */
    opacity: 0; /* Inicialmente oculto */
}

.image-container img:not(.hidden) {
    opacity: 1; /* Visível quando não estiver oculto */
}


/* Para telas com largura máxima de 768px (tablets) */
@media (max-width: 300px) {
    .image-container {
        width: 0;

    }
}