{% extends 'default.html' %}
{% load static %}

{%block content%}
    <div class="container d-flex flex-column justify-content-center  align-items-center vh-100">
        {%if error%}
        <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {%endif%}
        <img class="mb-0" src="{%static 'img/icon.png'%}" alt="" width="102" height="102">
        <img class="mb-0  fit-cover" src="{%static 'img/bioconectatitle.png'%}" alt="" width="200" height="57">
        <div class="login w-50">
            <form class="d-flex flex-column align-items-center w-100" method="post">
                {% csrf_token %}
                <div class="mb-1 w-50 ">
                    <div class="form-floating">
                        <input type="text" class="form-control b-green" name="username"id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">cpf</label>
                      </div>
                </div>
                <div class="mb-2 mt-3 w-50">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">senha</label>
                        <button type="button" class="btn position-absolute end-0 top-0 mt-2 me-2" id="togglePassword" style="z-index: 1;"><i class="bi bi-eye-fill" id="eyeIcon"></i>
                    </div>
                </div>
                <button class="w-10 btn btn-lg btn-primary-custom" type="submit">Sign in</button>
            </form>
        </div>
        <p class="mt-5 mb-3 text-muted"> 24.09.0</p>
    </div>
{%endblock%}

{%block js %}
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const passwordField = document.querySelector('#floatingPassword');
    const eyeIcon = document.querySelector('#eyeIcon');

    togglePassword.addEventListener('click', function () {
        // Alterna entre 'password' e 'text'
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        
        // Alterna o ícone entre olho aberto e olho fechado
        eyeIcon.classList.toggle('bi-eye-fill');
        eyeIcon.classList.toggle('bi-eye-slash-fill');
    });
</script>
{%endblock%}